<a href="https://colab.research.google.com/github/ArushiG11/Data-Science-Job-Analysis/blob/main/Data_Science_Job_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings

In [3]:
plt.style.use('dark_background')

In [4]:
url = 'https://raw.githubusercontent.com/ArushiG11/Data-Science-Job-Analysis/main/data_science_job.csv'
df = pd.read_csv(url)
df.head()  # Display the first few rows

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2022,Machine Learning Engineer in office,Analysis,EUR,186597,136086,US,MI,CT,Remote,DE,L
1,2020,Statistician (Remote),ML/AI,JPY,110630,67982,JP,EX,FL,Remote,IN,M
2,2022,Machine Learning Engineer,ML/AI,INR,61280,153309,UK,MI,CT,Hybrid,CN,L
3,2022,Data Analyst in office,ML/AI,JPY,154130,135242,DE,SE,FT,Hybrid,MX,L
4,2020,Statistician,Data Science,EUR,172312,35156,UK,MI,FT,In-person,UK,S

In [5]:
df.shape

(5000, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           5000 non-null   int64
 1   job_title           5000 non-null   object
 2   job_category        4500 non-null   object
 3   salary_currency     4500 non-null   object
 4   salary              5000 non-null   int64
 5   salary_in_usd       5000 non-null   int64
 6   employee_residence  5000 non-null   object
 7   experience_level    4500 non-null   object
 8   employment_type     5000 non-null   object
 9   work_setting        5000 non-null   object
 10  company_location    5000 non-null   object
 11  company_size        4500 non-null   object
dtypes: int64(3), object(9)
memory usage: 468.9+ KB

In [7]:
df = df.dropna() # Drop the null values

In [8]:
df.isnull().sum().sum()  # To get total null values

0

In [11]:
df.nunique()

work_year                3
job_title               15
job_category             4
salary_currency          5
salary                4447
salary_in_usd         4442
employee_residence       7
experience_level         4
employment_type          4
work_setting             3
company_location         7
company_size             3
dtype: int64

In [10]:
df.experience_level.unique() # When evaluating columns, it might be appropriate to look at values this way.

array(['MI', 'EX', 'SE', 'EN'], dtype=object)

In [12]:
df.work_year.value_counts()

work_year
2020    1559
2022    1481
2021    1460
Name: count, dtype: int64

In [13]:
df.job_title.value_counts()

job_title
Data Engineer  in office                342
Data Engineer                           323
Data Scientist                          315
Data Analyst  in office                 313
Statistician                            312
Data Analyst  (Remote)                  303
Data Engineer  (Remote)                 300
Statistician  (Remote)                  295
Data Scientist  in office               293
Machine Learning Engineer  in office    291
Machine Learning Engineer  (Remote)     290
Statistician  in office                 289
Data Scientist  (Remote)                284
Data Analyst                            282
Machine Learning Engineer               268
Name: count, dtype: int64

In [14]:
df.job_category.unique()

array(['Analysis', 'ML/AI', 'Data Science', 'Engineering'], dtype=object)

In [16]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4993    False
4994    False
4997    False
4998    False
4999    False
Length: 4500, dtype: bool

In [17]:
df.describe(include='object').T

                   count unique                       top  freq
job_title           4500     15  Data Engineer  in office   342
job_category        4500      4              Data Science  1173
salary_currency     4500      5                       EUR   962
employee_residence  4500      7                        JP   697
experience_level    4500      4                        SE  1154
employment_type     4500      4                        FL  1147
work_setting        4500      3                    Hybrid  1562
company_location    4500      7                        UK   728
company_size        4500      3                         S  1519

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
work_year,4500.0,2020.982667,0.821830,2020.0,2020.0,2021.0,2022.00,2022.0
salary,4500.0,113759.449111,48947.972699,30018.0,71473.0,114471.5,155187.25,199924.0
salary_in_usd,4500.0,113756.052444,49154.409212,30016.0,70991.5,113521.5,156294.75,199985.0

In [23]:
df = df.drop_duplicates().reset_index(drop=True)

In [24]:
df.duplicated().sum()

0

In [25]:
df.isnull().sum()

work_year             0
job_title             0
job_category          0
salary_currency       0
salary                0
salary_in_usd         0
employee_residence    0
experience_level      0
employment_type       0
work_setting          0
company_location      0
company_size          0
dtype: int64

In [27]:
modes = df.mode().iloc[0]
modes

work_year                               2020.0
job_title             Data Engineer  in office
job_category                      Data Science
salary_currency                            EUR
salary                                 30637.0
salary_in_usd                            31634
employee_residence                          JP
experience_level                            SE
employment_type                             FL
work_setting                            Hybrid
company_location                            UK
company_size                                 S
Name: 0, dtype: object