<a href="https://colab.research.google.com/github/ArushiG11/Data-Science-Job-Analysis/blob/main/Data_Science_Job_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings

In [2]:
plt.style.use('dark_background')

In [3]:
url = 'https://raw.githubusercontent.com/ArushiG11/Data-Science-Job-Analysis/main/data_science_job.csv'
df = pd.read_csv(url)
df.head()  # Display the first few rows

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2022,Machine Learning Engineer in office,Analysis,EUR,186597,136086,US,MI,CT,Remote,DE,L
1,2020,Statistician (Remote),ML/AI,JPY,110630,67982,JP,EX,FL,Remote,IN,M
2,2022,Machine Learning Engineer,ML/AI,INR,61280,153309,UK,MI,CT,Hybrid,CN,L
3,2022,Data Analyst in office,ML/AI,JPY,154130,135242,DE,SE,FT,Hybrid,MX,L
4,2020,Statistician,Data Science,EUR,172312,35156,UK,MI,FT,In-person,UK,S

In [4]:
df.shape

(5000, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           5000 non-null   int64
 1   job_title           5000 non-null   object
 2   job_category        4500 non-null   object
 3   salary_currency     4500 non-null   object
 4   salary              5000 non-null   int64
 5   salary_in_usd       5000 non-null   int64
 6   employee_residence  5000 non-null   object
 7   experience_level    4500 non-null   object
 8   employment_type     5000 non-null   object
 9   work_setting        5000 non-null   object
 10  company_location    5000 non-null   object
 11  company_size        4500 non-null   object
dtypes: int64(3), object(9)
memory usage: 468.9+ KB

In [6]:
df = df.dropna() # Drop the null values

In [7]:
df.isnull().sum().sum()  # To get total null values

0

In [8]:
df.nunique()

work_year                3
job_title               15
job_category             4
salary_currency          5
salary                4447
salary_in_usd         4442
employee_residence       7
experience_level         4
employment_type          4
work_setting             3
company_location         7
company_size             3
dtype: int64

In [9]:
df.experience_level.unique() # When evaluating columns, it might be appropriate to look at values this way.

array(['MI', 'EX', 'SE', 'EN'], dtype=object)

In [10]:
df.work_year.value_counts()

work_year
2020    1559
2022    1481
2021    1460
Name: count, dtype: int64

In [11]:
df.job_category.unique()

array(['Analysis', 'ML/AI', 'Data Science', 'Engineering'], dtype=object)

In [12]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4993    False
4994    False
4997    False
4998    False
4999    False
Length: 4500, dtype: bool

In [13]:
df.describe(include='object').T

                   count unique                       top  freq
job_title           4500     15  Data Engineer  in office   342
job_category        4500      4              Data Science  1173
salary_currency     4500      5                       EUR   962
employee_residence  4500      7                        JP   697
experience_level    4500      4                        SE  1154
employment_type     4500      4                        FL  1147
work_setting        4500      3                    Hybrid  1562
company_location    4500      7                        UK   728
company_size        4500      3                         S  1519

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
work_year,4500.0,2020.982667,0.821830,2020.0,2020.0,2021.0,2022.00,2022.0
salary,4500.0,113759.449111,48947.972699,30018.0,71473.0,114471.5,155187.25,199924.0
salary_in_usd,4500.0,113756.052444,49154.409212,30016.0,70991.5,113521.5,156294.75,199985.0

In [15]:
df = df.drop_duplicates().reset_index(drop=True)

In [16]:
df.duplicated().sum()

0

In [17]:
df.isnull().sum()

work_year             0
job_title             0
job_category          0
salary_currency       0
salary                0
salary_in_usd         0
employee_residence    0
experience_level      0
employment_type       0
work_setting          0
company_location      0
company_size          0
dtype: int64

In [18]:
modes = df.mode().iloc[0]
modes

work_year                               2020.0
job_title             Data Engineer  in office
job_category                      Data Science
salary_currency                            EUR
salary                                 30637.0
salary_in_usd                            31634
employee_residence                          JP
experience_level                            SE
employment_type                             FL
work_setting                            Hybrid
company_location                            UK
company_size                                 S
Name: 0, dtype: object

In [19]:
df.job_title.value_counts()

job_title
Data Engineer  in office                342
Data Engineer                           323
Data Scientist                          315
Data Analyst  in office                 313
Statistician                            312
Data Analyst  (Remote)                  303
Data Engineer  (Remote)                 300
Statistician  (Remote)                  295
Data Scientist  in office               293
Machine Learning Engineer  in office    291
Machine Learning Engineer  (Remote)     290
Statistician  in office                 289
Data Scientist  (Remote)                284
Data Analyst                            282
Machine Learning Engineer               268
Name: count, dtype: int64

In [23]:
def map_job_title(df, original_column='job_title', new_column='job_category'):
    # Define the mapping dictionary
    job_title_mapping = {
        'data engineer': 'Data Engineer',
        'data engineer in office': 'Data Engineer',
        'data engineer(remote)': 'Data Engineer',
        'data analyst': 'Data Analyst',
        'data analyst in office': 'Data Analyst',
        'data analyst(remote)': 'Data Analyst',
        'data scientist': 'Data Scientist',
        'data scientist in office': 'Data Scientist',
        'data scientist(remote)': 'Data Scientist',
        'machine learning engineer': 'ML Engineer',
        'machine learning engineer in office': 'ML Engineer',
        'machine learning engineer(remote)': 'ML Engineer',
        'statistician': 'Statistician',
        'statistician in office': 'Statistician',
        'statistician(remote)': 'Statistician'
    }

    # Convert job titles to lowercase and map them to broader categories
    df[new_column] = df[original_column].str.lower().apply(
        lambda title: next((v for k, v in job_title_mapping.items() if k in title), 'Other')
    )
    return df

# Example usage
df = map_job_title(df)

In [25]:
df.job_category.value_counts()

job_category
Data Engineer     965
Data Analyst      898
Statistician      896
Data Scientist    892
ML Engineer       849
Name: count, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           4500 non-null   int64
 1   job_title           4500 non-null   object
 2   job_category        4500 non-null   object
 3   salary_currency     4500 non-null   object
 4   salary              4500 non-null   int64
 5   salary_in_usd       4500 non-null   int64
 6   employee_residence  4500 non-null   object
 7   experience_level    4500 non-null   object
 8   employment_type     4500 non-null   object
 9   work_setting        4500 non-null   object
 10  company_location    4500 non-null   object
 11  company_size        4500 non-null   object
dtypes: int64(3), object(9)
memory usage: 422.0+ KB

In [28]:
# "2. Removing Unnecessary Whitespaces:
# Some text entries may have unnecessary spaces at the beginning or end. Let's clean these up."

df['employment_type'] = df['employment_type'].str.strip()
df['experience_level'] = df['experience_level'].str.strip()
df['job_title'] = df['job_title'].str.strip()
df['salary_currency'] = df['salary_currency'].str.strip()
df['employee_residence'] = df['employee_residence'].str.strip()
df['company_size'] = df['company_size'].str.strip()
df['job_category'] = df['job_category'].str.strip()

In [29]:
df.isnull().sum()

work_year             0
job_title             0
job_category          0
salary_currency       0
salary                0
salary_in_usd         0
employee_residence    0
experience_level      0
employment_type       0
work_setting          0
company_location      0
company_size          0
dtype: int64

**The Interquartile Range (IQR)** is a measure of statistical dispersion, which describes the spread of the middle 50% of a dataset. It is calculated as the difference between the third quartile (Q3) and the first quartile (Q1):

Formula:
IQR=Q3âˆ’Q1

**Key Components:**
Quartiles:

Q1 (First Quartile): The value below which 25% of the data lies.

Q3 (Third Quartile): The value below which 75% of the data lies.

Middle 50%: The IQR represents the range where the central 50% of the data is concentrated, helping to exclude extreme values (outliers).

**How is IQR Used?**


IQR is robust to outliers and provides a better measure of spread for skewed data than standard deviation.

Outlier Detection:
A common rule identifies outliers as values outside the range:


LowerÂ Bound=Q1âˆ’1.5Ã—IQR


UpperÂ Bound=Q3+1.5Ã—IQR

In [34]:
Q1 = df['work_year'].quantile(0.25)
Q3 = df['work_year'].quantile(0.75)
IQR = Q3 - Q1
lb = Q1 - 1.5 * IQR
ub = Q3 + 1.5 * IQR
print(lb, ub)

2017.0 2025.0

In [39]:
outliers = df[(df['work_year'] < lb) | (df['work_year'] > ub)]
print(f"Outliers in 'work_year':\n{outliers}")

Outliers in 'work_year':
Empty DataFrame
Columns: [work_year, job_title, job_category, salary_currency, salary, salary_in_usd, employee_residence, experience_level, employment_type, work_setting, company_location, company_size]
Index: []

In [44]:
df['salary'].quantile(0.99)

197570.09